In [8]:
from ucimlrepo import fetch_ucirepo, list_available_datasets
from pathlib import Path 

# check if diabetes.csv exists in the current folder. if it does not, pull from the repo 

if not Path("diabetes.csv").exists(): 
    repo_all = fetch_ucirepo(id = 296)
    repo_all.data.original.to_csv('diabetes.csv', index=False)

In [9]:
import pandas as pd 

diabetes = pd.read_csv("diabetes.csv")

C:\Users\Owner\AppData\Local\Temp\ipykernel_1524\1057861120.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  diabetes = pd.read_csv("diabetes.csv")

In [10]:
# ok let's work through all the columns, and see what they are like 
column_list = list(diabetes.columns)
print(len(column_list))

50

In [11]:
col = diabetes[column_list[0]]
print(col.dtype)
# column 2 are integers, which is also fine. keep. 
int_columns = column_list[0:2]
print(int_columns)

int64
['encounter_id', 'patient_nbr']

In [12]:
col = diabetes[column_list[2]]
print(col.dtype)
col.value_counts(dropna=False)

object

race
Caucasian          76099
AfricanAmerican    19210
NaN                 2273
Hispanic            2037
Other               1506
Asian                641
Name: count, dtype: int64

In [13]:
# ok so only a small porportion of the data is missing. We can afford to drop the rows missing the gender data 

retain_rows = ~ col.isna()
string_columns = [column_list[2]]

In [14]:
col = diabetes[column_list[3]]
col.head()
print(col.dtype)
col.value_counts(dropna = False)

# ok only 3 unknown or invalid, which we can remove

object

gender
Female             54708
Male               47055
Unknown/Invalid        3
Name: count, dtype: int64

In [15]:
retain_rows = (retain_rows) & (col != 'Unknown/Invalid')

In [16]:
col = diabetes[column_list[4]]

col.head()
col.value_counts(dropna = False)

# looks ok. don't need to do anything

age
[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: count, dtype: int64

In [17]:
string_columns.append(column_list[4])

In [18]:
col = diabetes[column_list[5]]
col.head()
col.value_counts(dropna = False)

# a lot of missing values. We can remove this column.

weight
NaN          98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: count, dtype: int64

In [19]:
columns_to_drop= [column_list[5]]

In [20]:
col = diabetes[column_list[6]]
col.value_counts(dropna=False)

# looks ok. keep for now

admission_type_id
1    53990
3    18869
2    18480
6     5291
5     4785
8      320
7       21
4       10
Name: count, dtype: int64

In [21]:
int_columns.append(column_list[6])

In [22]:
col = diabetes[column_list[7]]
col.value_counts(dropna=False).sort_index()

# looks ok. keep for now

discharge_disposition_id
1     60234
2      2128
3     13954
4       815
5      1184
6     12902
7       623
8       108
9        21
10        6
11     1642
12        3
13      399
14      372
15       63
16       11
17       14
18     3691
19        8
20        2
22     1993
23      412
24       48
25      989
27        5
28      139
Name: count, dtype: int64

In [23]:
int_columns.append(column_list[7])

In [24]:
col = diabetes[column_list[8]]
col.value_counts(dropna=False).sort_index()

# looks ok. keep for now

admission_source_id
1     29565
2      1104
3       187
4      3187
5       855
6      2264
7     57494
8        16
9       125
10        8
11        2
13        1
14        2
17     6781
20      161
22       12
25        2
Name: count, dtype: int64

In [25]:
int_columns.append(column_list[8])

In [26]:
col = diabetes[column_list[9]]
col.value_counts(dropna=False).sort_index()

time_in_hospital
1     14208
2     17224
3     17756
4     13924
5      9966
6      7539
7      5859
8      4391
9      3002
10     2342
11     1855
12     1448
13     1210
14     1042
Name: count, dtype: int64

In [27]:
int_columns.append(column_list[9])

In [28]:
col = diabetes[column_list[10]]
col.value_counts(dropna=False).sort_index()

payer_code
BC      4655
CH       146
CM      1937
CP      2533
DM       549
FR         1
HM      6274
MC     32439
MD      3532
MP        79
OG      1033
OT        95
PO       592
SI        55
SP      5007
UN      2448
WC       135
NaN    40256
Name: count, dtype: int64

In [29]:
# actually not clinically significant, and lets of missing values.let's drop this

columns_to_drop.append(column_list[10])

In [30]:
col = diabetes[column_list[11]]
col.value_counts(dropna=False).sort_index()

medical_specialty
AllergyandImmunology            7
Anesthesiology                 12
Anesthesiology-Pediatric       19
Cardiology                   5352
Cardiology-Pediatric            7
                            ...
Surgery-Thoracic              109
Surgery-Vascular              533
SurgicalSpecialty              33
Urology                       685
NaN                         49949
Name: count, Length: 73, dtype: int64

In [31]:
# lots of missing values. let's drop this 
columns_to_drop.append(column_list[11])

In [32]:
col = diabetes[column_list[12]]
col.value_counts(dropna=False).sort_index()

num_lab_procedures
1      3208
2      1101
3       668
4       378
5       286
       ...
120       1
121       1
126       1
129       1
132       1
Name: count, Length: 118, dtype: int64

In [33]:
int_columns.append(column_list[12])

In [34]:
col = diabetes[column_list[13]]
col.value_counts(dropna=False).sort_index()

num_procedures
0    46652
1    20742
2    12717
3     9443
4     4180
5     3078
6     4954
Name: count, dtype: int64

In [35]:
int_columns.append(column_list[13])

In [36]:
col = diabetes[column_list[14]]
col.value_counts(dropna=False).sort_index()

num_medications
1      262
2      470
3      900
4     1417
5     2017
      ...
72       3
74       1
75       2
79       1
81       1
Name: count, Length: 75, dtype: int64

In [37]:
int_columns.append(column_list[14])

In [38]:
col = diabetes[column_list[15]]
col.value_counts(dropna=False).sort_index()

number_outpatient
0     85027
1      8547
2      3594
3      2042
4      1099
5       533
6       303
7       155
8        98
9        83
10       57
11       42
12       30
13       31
14       28
15       20
16       15
17        8
18        5
19        3
20        7
21        7
22        5
23        2
24        3
25        2
26        2
27        3
28        1
29        2
33        2
34        1
35        2
36        2
37        1
38        1
39        1
40        1
42        1
Name: count, dtype: int64

In [39]:
int_columns.append(column_list[15])

In [40]:
col = diabetes[column_list[16]]
col.value_counts(dropna=False).sort_index()

number_emergency
0     90383
1      7677
2      2042
3       725
4       374
5       192
6        94
7        73
8        50
9        33
10       34
11       23
12       10
13       12
14        3
15        3
16        5
18        5
19        4
20        4
21        2
22        6
24        1
25        2
28        1
29        1
37        1
42        1
46        1
54        1
63        1
64        1
76        1
Name: count, dtype: int64

In [41]:
int_columns.append(column_list[16])

In [42]:
col = diabetes[column_list[17]]
col.value_counts(dropna=False).sort_index()

number_inpatient
0     67630
1     19521
2      7566
3      3411
4      1622
5       812
6       480
7       268
8       151
9       111
10       61
11       49
12       34
13       20
14       10
15        9
16        6
17        1
18        1
19        2
21        1
Name: count, dtype: int64

In [43]:
int_columns.append(column_list[17])

In [44]:
col = diabetes[column_list[18]]
col.value_counts(dropna=False).sort_index()

diag_1
10      1
11     10
110     2
112    73
114     1
       ..
V66     2
V67     1
V70     1
V71     9
NaN    21
Name: count, Length: 717, dtype: int64

In [45]:
# ok only a few nan. let's drop the nan 
string_columns.append(column_list[18])
retain_rows = retain_rows & (~col.isna())

In [46]:
col = diabetes[column_list[19]]
col.value_counts(dropna=False).sort_index()

diag_2
11       3
110      8
111      1
112    201
114      1
      ...
V70      7
V72     13
V85    169
V86      2
NaN    358
Name: count, Length: 749, dtype: int64

In [47]:
# ok only a few nan. let's drop the nan 
string_columns.append(column_list[19])
retain_rows = retain_rows & (~col.isna())

In [48]:
col = diabetes[column_list[20]]
col.value_counts(dropna=False).sort_index()

diag_3
11        2
110      20
111       1
112     206
115       1
       ...
V70       2
V72       8
V85      96
V86       3
NaN    1423
Name: count, Length: 790, dtype: int64

In [49]:
# ok only a few nan. let's drop the nan 
string_columns.append(column_list[20])
retain_rows = retain_rows & (~col.isna())

In [50]:
col = diabetes[column_list[21]]
col.value_counts(dropna=False).sort_index()

number_diagnoses
1       219
2      1023
3      2835
4      5537
5     11393
6     10161
7     10393
8     10616
9     49474
10       17
11       11
12        9
13       16
14        7
15       10
16       45
Name: count, dtype: int64

In [51]:
int_columns.append(column_list[21])

In [52]:
col = diabetes[column_list[22]]
col.value_counts(dropna=False).sort_index()

max_glu_serum
>200     1485
>300     1264
Norm     2597
NaN     96420
Name: count, dtype: int64

In [53]:
# lots of missing data. drop this column 
columns_to_drop.append(column_list[22])

In [54]:
col = diabetes[column_list[23]]
col.value_counts(dropna=False).sort_index()

A1Cresult
>7       3812
>8       8216
Norm     4990
NaN     84748
Name: count, dtype: int64

In [55]:
# lots of missing data. drop this column 
columns_to_drop.append(column_list[23])

In [56]:
col = diabetes[column_list[24]]
col.value_counts(dropna=False).sort_index()

metformin
Down        575
No        81778
Steady    18346
Up         1067
Name: count, dtype: int64

In [57]:
string_columns.append(column_list[24])

In [58]:
col = diabetes[column_list[25]]
col.value_counts(dropna=False).sort_index()

repaglinide
Down          45
No        100227
Steady      1384
Up           110
Name: count, dtype: int64

In [59]:
string_columns.append(column_list[25])

In [60]:
col = diabetes[column_list[26]]
col.value_counts(dropna=False).sort_index()

nateglinide
Down          11
No        101063
Steady       668
Up            24
Name: count, dtype: int64

In [61]:
string_columns.append(column_list[26])

In [62]:
col = diabetes[column_list[27]]
col.value_counts(dropna=False).sort_index()

chlorpropamide
Down           1
No        101680
Steady        79
Up             6
Name: count, dtype: int64

In [63]:
string_columns.append(column_list[27])

In [64]:
col = diabetes[column_list[28]]
col.value_counts(dropna=False).sort_index()

glimepiride
Down        194
No        96575
Steady     4670
Up          327
Name: count, dtype: int64

In [65]:
string_columns.append(column_list[28])

In [66]:
col = diabetes[column_list[29]]
col.value_counts(dropna=False).sort_index()

acetohexamide
No        101765
Steady         1
Name: count, dtype: int64

In [67]:
# ok this is an almost redundant column. drop it. 

columns_to_drop.append(column_list[29])

In [68]:
col = diabetes[column_list[30]]
col.value_counts(dropna=False).sort_index()

glipizide
Down        560
No        89080
Steady    11356
Up          770
Name: count, dtype: int64

In [69]:
string_columns.append(column_list[30])

In [70]:
col = diabetes[column_list[31]]
col.value_counts(dropna=False).sort_index()

glyburide
Down        564
No        91116
Steady     9274
Up          812
Name: count, dtype: int64

In [71]:
string_columns.append(column_list[31])

In [72]:
col = diabetes[column_list[32]]
col.value_counts(dropna=False).sort_index()

tolbutamide
No        101743
Steady        23
Name: count, dtype: int64

In [73]:
# this is prolly another redundant column 
columns_to_drop.append(column_list[32])

In [74]:
col = diabetes[column_list[33]]
col.value_counts(dropna=False).sort_index()

pioglitazone
Down        118
No        94438
Steady     6976
Up          234
Name: count, dtype: int64

In [75]:
string_columns.append(column_list[33])

In [76]:
col = diabetes[column_list[34]]
col.value_counts(dropna=False).sort_index()

rosiglitazone
Down         87
No        95401
Steady     6100
Up          178
Name: count, dtype: int64

In [77]:
string_columns.append(column_list[34])

In [78]:
col = diabetes[column_list[35]]
col.value_counts(dropna=False).sort_index()

acarbose
Down           3
No        101458
Steady       295
Up            10
Name: count, dtype: int64

In [79]:
# prolly can drop too 
columns_to_drop.append(column_list[35])

In [80]:
col = diabetes[column_list[36]]
col.value_counts(dropna=False).sort_index()

miglitol
Down           5
No        101728
Steady        31
Up             2
Name: count, dtype: int64

In [81]:
# prolly can drop too 
columns_to_drop.append(column_list[36])

In [82]:
col = diabetes[column_list[37]]
col.value_counts(dropna=False).sort_index()

troglitazone
No        101763
Steady         3
Name: count, dtype: int64

In [83]:
# prolly can drop too 
columns_to_drop.append(column_list[37])

In [84]:
col = diabetes[column_list[38]]
col.value_counts(dropna=False).sort_index()

tolazamide
No        101727
Steady        38
Up             1
Name: count, dtype: int64

In [85]:
columns_to_drop.append(column_list[38])

In [86]:
col = diabetes[column_list[39]]
col.value_counts(dropna=False).sort_index()

examide
No    101766
Name: count, dtype: int64

In [87]:
columns_to_drop.append(column_list[39])

In [88]:
col = diabetes[column_list[40]]
col.value_counts(dropna=False).sort_index()

citoglipton
No    101766
Name: count, dtype: int64

In [89]:
columns_to_drop.append(column_list[40])

In [90]:
col = diabetes[column_list[41]]
col.value_counts(dropna=False).sort_index()

insulin
Down      12218
No        47383
Steady    30849
Up        11316
Name: count, dtype: int64

In [91]:
string_columns.append(column_list[41])

In [92]:
col = diabetes[column_list[42]]
col.value_counts(dropna=False).sort_index()

glyburide-metformin
Down           6
No        101060
Steady       692
Up             8
Name: count, dtype: int64

In [93]:
columns_to_drop.append(column_list[42])

In [94]:
col = diabetes[column_list[43]]
col.value_counts(dropna=False).sort_index()

glipizide-metformin
No        101753
Steady        13
Name: count, dtype: int64

In [95]:
columns_to_drop.append(column_list[43])

In [96]:
col = diabetes[column_list[44]]
col.value_counts(dropna=False).sort_index()

glimepiride-pioglitazone
No        101765
Steady         1
Name: count, dtype: int64

In [97]:
columns_to_drop.append(column_list[44])

In [98]:
col = diabetes[column_list[45]]
col.value_counts(dropna=False).sort_index()

metformin-rosiglitazone
No        101764
Steady         2
Name: count, dtype: int64

In [99]:
columns_to_drop.append(column_list[45])

In [100]:
col = diabetes[column_list[46]]
col.value_counts(dropna=False).sort_index()

metformin-pioglitazone
No        101765
Steady         1
Name: count, dtype: int64

In [101]:
columns_to_drop.append(column_list[46])

In [102]:
col = diabetes[column_list[47]]
col.value_counts(dropna=False).sort_index()

change
Ch    47011
No    54755
Name: count, dtype: int64

In [103]:
string_columns.append(column_list[47])

In [104]:
col = diabetes[column_list[48]]
col.value_counts(dropna=False).sort_index()

diabetesMed
No     23403
Yes    78363
Name: count, dtype: int64

In [105]:
string_columns.append(column_list[48])

In [106]:
col = diabetes[column_list[49]]
col.value_counts(dropna=False).sort_index()

readmitted
<30    11357
>30    35545
NO     54864
Name: count, dtype: int64

In [107]:
string_columns.append(column_list[49])

In [108]:
print(int_columns)
print(string_columns)

['encounter_id', 'patient_nbr', 'admission_type_id', 'discharge_disposition_id', 'admission_source_id', 'time_in_hospital', 'num_lab_procedures', 'num_procedures', 'num_medications', 'number_outpatient', 'number_emergency', 'number_inpatient', 'number_diagnoses']
['race', 'age', 'diag_1', 'diag_2', 'diag_3', 'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'insulin', 'change', 'diabetesMed', 'readmitted']

In [109]:
clean_diabetes = diabetes.copy()
clean_diabetes.drop(columns_to_drop, axis=1, inplace=True)
clean_diabetes = clean_diabetes[retain_rows]

In [110]:
clean_diabetes = diabetes.copy()
clean_diabetes.drop(columns_to_drop, axis=1, inplace=True)
clean_diabetes = clean_diabetes[retain_rows]
clean_diabetes.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'glipizide', 'glyburide', 'pioglitazone',
       'rosiglitazone', 'insulin', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [111]:
clean_diabetes.to_csv("clean_diabetes.csv",index=False)